# OpenAM docs are under /en/openam/11.0.0/
RedirectMatch 301 ^/en/openam-pa/3.3.0/release-notes/(.*)$ http://docs.forgerock.org/en/openam/11.0.0/release-notes/$1
RedirectMatch 301 ^/en/openam-pa/3.3.0/getting-started/(.*)$ http://docs.forgerock.org/en/openam/11.0.0/getting-started/$1
RedirectMatch 301 ^/en/openam-pa/3.3.0/install-guide/(.*)$ http://docs.forgerock.org/en/openam/11.0.0/install-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.3.0/upgrade-guide/(.*)$ http://docs.forgerock.org/en/openam/11.0.0/upgrade-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.3.0/admin-guide/(.*)$ http://docs.forgerock.org/en/openam/11.0.0/admin-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.3.0/dev-guide/(.*)$ http://docs.forgerock.org/en/openam/11.0.0/dev-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.3.0/reference/(.*)$ http://docs.forgerock.org/en/openam/11.0.0/reference/$1

# We should not need links for PDFs as they do not have olinks.
