# OpenAM docs are under /en/openam/10.1.0/
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/release-notes/(.*)$ http://docs.forgerock.org/en/openam/10.1.0/release-notes/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/admin-guide/(.*)$ http://docs.forgerock.org/en/openam/10.1.0/admin-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/dev-guide/(.*)$ http://docs.forgerock.org/en/openam/10.1.0/dev-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/install-guide/(.*)$ http://docs.forgerock.org/en/openam/10.1.0/install-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/reference/(.*)$ http://docs.forgerock.org/en/openam/10.1.0/reference/$1

# In progress docs are under http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/upgrade-guide/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/upgrade-guide/$1

# We should not need links for PDFs as they do not have olinks.
