# Temporary protection for staging. (This ought to be done with OpenAM in the future.)
AuthType Basic
AuthName "Restricted Access"
AuthUserFile .htpasswd
Require valid-user

# Release notes are under /en/openam/10.1.0-Xpress/release-notes/
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/release-notes/(.*)$ http://docs.forgerock.com/en/openam/10.1.0-Xpress/release-notes/$1

# In progress docs are under http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/admin-guide/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/admin-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/agent-install-guide/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/agent-install-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/dev-guide/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/dev-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/install-guide/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/install-guide/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/reference/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/reference/$1
RedirectMatch 301 ^/en/openam-pa/3.1.0-Xpress/upgrade-guide/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/upgrade-guide/$1

# We should not need links for PDFs as they do not have olinks.
