# Agent docs are under /en/openam-pa/3.1.0-Xpress/
RedirectMatch 301 ^/en/openam/10.1.0/agent-release-notes/(.*)$ http://docs.forgerock.org/en/openam-pa/3.1.0-Xpress/agent-release-notes/$1
RedirectMatch 301 ^/en/openam/10.1.0/agent-install-guide/(.*)$ http://docs.forgerock.org/en/openam-pa/3.1.0-Xpress/agent-install-guide/$1

# In progress docs are under http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/
RedirectMatch 301 ^/en/openam/10.1.0/upgrade-guide/(.*)$ http://openam.forgerock.org/openam-documentation/openam-doc-source/doc/upgrade-guide/$1

# We should not need links for PDFs as they do not have olinks.
