# Agent docs are under /en/openam-pa/3.3.0/
RedirectMatch 301 ^/en/openam/11.0.0/jee-release-notes/(.*)$ http://docs.forgerock.org/en/openam-pa/3.3.0/jee-release-notes/$1
RedirectMatch 301 ^/en/openam/11.0.0/jee-install-guide/(.*)$ http://docs.forgerock.org/en/openam-pa/3.3.0/jee-install-guide/$1
RedirectMatch 301 ^/en/openam/11.0.0/jee-reference/(.*)$ http://docs.forgerock.org/en/openam-pa/3.3.0/jee-reference/$1
RedirectMatch 301 ^/en/openam/11.0.0/web-release-notes/(.*)$ http://docs.forgerock.org/en/openam-pa/3.3.0/web-release-notes/$1
RedirectMatch 301 ^/en/openam/11.0.0/web-install-guide/(.*)$ http://docs.forgerock.org/en/openam-pa/3.3.0/web-install-guide/$1
RedirectMatch 301 ^/en/openam/11.0.0/web-reference/(.*)$ http://docs.forgerock.org/en/openam-pa/3.3.0/web-reference/$1

# We should not need links for PDFs as they do not have olinks.
